/* Landing/Home page */
.header-color {
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: fixed;
padding: 0;
}

.landing-grid {
  background: hsl(0, 0%, 99%);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdfcfc, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsl(0, 25%, 98%), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.drawer {
  position: fixed;
}
.profile-landing {
  
  padding-top: 50px;
  vertical-align: top;
  
}
.profile-landing img {
  margin-top: 15px;
}
.profile img {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 175px;
  border: 10px solid black;
  margin-top: 150px;

}
.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  padding-top: 10px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;

}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;

}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 2em;
  padding: 8px;
}
.skill-lists Cell {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;

}
.skill-lists h3 {
  text-align: center;
  color: white;
}
/* Projects Page css*/
.projects-grid {
  
display: flex;
margin-top: 50px;
  
}


/* Resume Page css */
.resume-right-col {
  background: hsl(0, 9%, 98%);
  background: -webkit-linear-gradient(to right, hsl(0, 17%, 98%), #131313);
  background: linear-gradient(to right, hsl(0, 11%, 96%), #1b1b1b);
  /* background: rgb(161, 161, 159); */
  /* color: black; */
  padding-left: 10px;
  margin-top: 50px;
  padding-top: 5px;
  width: 100%;
  /* line-height: 15px; */
}

/* Contact Page css*/
.contact-body {
  /*background: #000000;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  position: fixed;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  color: black;
}
.contact-grid {
  /* background: #000000;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #434343, #000000); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}
.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}
/* Page */
.profile img {
  width: 40%;
  display: flex;
}

/* About Page */
.about-body {
  background: hsl(0, 0%, 100%);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsl(0, 0%, 99%), #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsl(0, 100%, 100%), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.about-header {
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-size: 4em;
  font-weight: bold;
  padding-top: 40px;
  display: flex;
  margin-left: 50px;
  width: 100%;
}
.about-data li {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  padding-top: 10px;
  display: flex;
  text-align: center;
}
.about-content {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  width: 80%;
  text-align: left;
}